[submodule "synflox-backend"]
	path = synflox-backend
	url = https://github.com/seifmoustafa/synflox-backend.git
[submodule "synflox-frontend"]
	path = synflox-frontend
	url = https://github.com/seifmoustafa/synflox-frontend.git
